<div class= "main-ul">
  <div class = main-list >
    <div class="photo">
      <%= image_tag @user.photo %>
    </div>
      <div class="main-div-list">
        <p><%= @user.name %></p>
        <p>Number of post:<%= @user.posts.size %></p>
      </div>
    </div>
</div>