<div class= "main-ul">
  <div class = main-list >
    <div class="photo">
       <img src="https://trello.com/1/cards/616017c69f234131a64e5ee2/attachments/619665ab97d67f27db46bf4d/download/image.png" >
    </div>
      <div class="main-div-list">
        <p><%= @user.name %></p>
        <p>Number of posts:<%= @user.posts_counter %></p>
      </div>
    </div>
</div>