<ul class="main-ul">
  <% @users.each do |user| %>
    <%= link_to user_path(user), id: "user_#{user.id}" do%>
      <li class="main-list">
      <div class="photo">
       <img src="http://lclip.in/8awq" >
      </div>
      <div class = "main-div-list">
        <p><%= user.name %></p>
        <p>Number of posts:<%= user.posts_counter %></p>
      </div>
      </li>
    <% end %>
  <% end %>
</ul>


