<ul class="main-ul">
  <% @users.each do |user| %>
    <%= link_to user_path(user) do%>
      <li class="main-list">
      <div class="photo">
        <%= image_tag user.photo %>
      </div>
      <div class = "main-div-list">
        <p><%= user.name %></p>
        <p>Number of posts:<%= user.posts.size %></p>
      </div>
      </li>
    <% end %>
  <% end %>
</ul>


