<div class="profile__container">
  <ul class="profile__list">
    <% @users.each do |u| %>
      <li class="profile__item">
        <%= link_to user_path(u.id), id: "user_#{u.id}" do %>
          <%= render partial: "user_card", locals: { user: u } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
