<main>
  <ul>
    <li>
      <img>
      <div>
        <h1>Here will be the name of the current user</h1>
        <p>Here will be number of posts of the current user</p>
      </div>
    </li>
  </ul>
</main>