<div class="profile__container">
  <%= render partial: "user_card", locals: { user: @user } %>
  <div class="bio">
    <h5 class="bio__heading">Bio</h5>
    <p class="bio__text"><%= @user.bio %> </p>
  </div>
  <ul class="post__list">
    <% @posts.each do |p| %>
      <li class="post__item">
        <%= render partial: "posts/post_card", locals: { post: p } %>
      </li>
    <% end %>
  </ul>
  <div class="actions">
    <%= link_to "See all posts", user_posts_path(@user.id), class: "btn" %>
  <div>
</div>
