<main>
 <div>
    <img>
    <div>
      <h1>Here will be the name of the current user</h1>
      <p>Here will be number of posts of the current user</p>
    </div>
  </div>
  <div>
    <p>Bio</p>
    <p>Lorem ipsum dolor sit amet. Id possimus molestias et quam enim vel   recusandae deleniti vel fuga sapiente At dignissimos consequatur sed blanditiis iure. Sed quae similique id dolores consequatur et nisi repellendus qui assumenda nisi et consequatur reiciendis ut beatae dolore est eaque tempore.</p>
  </div>
    <ul>
    <li>
        <h1>Post # here will be the id of the post</h1>
        <p>Here will be the post message</p>
        <p>Comments: x, Likes: y</p>
    </li>
  </ul>
  <button>See all posts</button>
</main>