default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: my_blog_db
  host: localhost
  username: stamenova
  password: stamenova123
# test:
#   <<: *default
#   database: my_blog_db

# production:
#   <<: *default
#   database: my_blog_db
#   username: stamenova
#   password: stamenova123
