<div class="like__container">
  <% if post_liked_by?({ post: post, id: current_user.id }) %>
    <i class="bx bx-check like-btn box-icon"></i>
  <% else %>
    <%= button_to post_likes_path(post.id), class: "like-btn", method: :post do %>
      <i class="bx bxs-like like-btn box-icon"></i>
    <% end %>
  <% end %>
</div>