<main>
 <div>
    <img>
    <div>
      <h1>Here will be the name of the current user</h1>
      <p>Here will be number of posts of the current user</p>
    </div>
  </div>
  <ul>
    <li>
      <div>
        <h1>Post # here will be the id of the post</h1>
        <p>Here will be the post message</p>
        <p>Comments: x, Likes: y</p>
      </div>
      <ul>
        <li>Username: Comment 1</li>
      </ul>
    </li>
  </ul>
  <button>Pagination</button>
</main>