<main>
  <div>
    <h1>Post #1 here will be the id of the post by username</h1>
    <p>Comments: x, Likes: y</p>
    <p>Lorem ipsum dolor sit amet. Id possimus molestias et quam enim vel recusandae deleniti vel fuga sapiente At dignissimos consequatur sed blanditiis iure. Sed quae similique id dolores consequatur et nisi repellendus qui assumenda nisi et consequatur reiciendis ut beatae dolore est eaque tempore. Ex vitae natus ut atque sunt ut beatae odio ab inventore soluta id quia autem id neque deleniti. Aut maiores quia ut distinctio voluptatibus quo alias nesciunt et consequatur fuga in quia libero et ullam labore ut illum expedita.
    Rem rerum ipsum et voluptatem quae aut similique natus. Qui nihil nesciunt et itaque omnis et eligendi natus aut illo officiis eos Quis sint cum dolores illum? Aut sint numquam qui quis nesciunt qui atque deserunt et esse perspiciatis quo autem eius ea aperiam iste.</p>
  </div>
    <ul>
        <li>Username: Comment 1</li>
      </ul>
</main>