/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  max-width: 100%;
}

li {
  list-style: none;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 0.85rem 1.5rem;
  cursor: pointer;
  background: #cf0136;
  color: #fff;
  outline: none;
  border: none;
}

.comment {
  margin-top: 1rem;
  width: 15rem;
  font-size: 1.8rem;
  margin-left: auto;
  text-align: center;
}

.container {
  padding: 0 2rem;
}

.profile__container {
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 0;
}

.bio {
  border: 1px solid #000;
  padding: 0.8rem 0.8rem 1.5rem;
}

.bio__heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.bio__text {
  font-size: 1.65rem;
  font-weight: 300;
}

.comment__list {
  padding: 0.8rem;
}

.comment__item {
  font-size: 1.85rem;
}

.form__container {
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 0;
}

.form__header {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.8rem;
}

.label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.35rem;
}

.input {
  width: 100%;
  padding: 0.8rem 0.5rem;
}

.text_area {
  padding: 0.8rem 0.5rem;
}

.like__container {
  display: flex;
  justify-content: flex-end;
}

.liked {
  font-size: 1.85rem;
  background: #3e43e8;
  color: #fff;
  padding: 0.5rem;
}

.form__links {
  font-size: 1.45rem;
  text-align: center;
  margin-top: 1.5rem;
}

.form__links a {
  margin-bottom: 2rem;
}

.form__links a:hover {
  text-decoration: underline;
}

.check__label {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.caution {
  font-size: 1.7rem;
}

.notices {
  font-size: 1.8rem;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

.trash-btn {
  background: #760724;
  outline: none;
  border: none;
  cursor: pointer;
}

.like-btn {
  background: #11199d;
  margin-left: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.box-icon {
  font-size: 3rem;
  color: #fff;
}

.trash__container {
  text-align: right;
}
