/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main-ul {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-div-list {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  border: 1px solid black;
  height: 156px;
  align-items: center;
  padding: 3rem;
  width: 100%;
}

.bio {
  padding: 1rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid black;
}

.list-posts {
  padding: 1rem;
  margin-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.comments-likes {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.btn {
  font-size: 22px;
  padding: 0.5rem;
  margin-top: 3rem;
  margin-left: 50%;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

.list-comments {
  padding: 1rem;
  line-height: 28px;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.no-.list-comments {
  display: none;
}

.post-by-id {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 1rem;
}

.post-by-id-post {
  margin-top: 1rem;
}

.photo {
  border: 1px solid black;
  width: 154px;
  height: 156px;
}

.form {
  margin-top: 3rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-title {
  padding: 0.5rem;
}

.form-text-area {
  padding: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.two-btns {
  padding: 0.5rem;
}

.back-btn {
  padding: 0.5rem;
  margin-top: 3rem;
}

.back-btn-holder {
  width: 100%;
  text-align: center;
}

.comment-like-btn {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-btn {
  margin-top: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: papayawhip;
}

.flash-msg {
  font-size: 18px;
  color: grey;
}

.nav-bar {
  display: flex;
  gap: 1rem;
  font-size: 20px;
}

.log-in {
  margin-top: 1rem;
}

.field {
  padding: 0.5rem;
}

.actions {
  padding: 1rem;
}

.sign-share {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
