.nav {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  margin-right: 1.4rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 1.5rem;
  background: #1016f0;
  color: #fff;
  padding: 0.25rem 1.2rem;
}

.logout {
  background-color: #b11c59;
}

.login_status {
  font-size: 2rem;
}
