// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__picture {
  width: 100px;
  height: 100px;
  margin-right: 2.5rem;
}

.profile__details {
  flex: 1;
  font-size: 2.5rem;
  border: 1px solid #000;
  padding: 2rem 0.8rem 1rem;
}

.profile__details-name {
  font-size: 2.95rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
