<div style="text-align: center; max-width: 40rem; margin: 0 auto;">
  <p style="color: red">Hello <%= @resource.email %>!</p>
  <p>Welcome <%= @email %>!</p>

  <p>You can confirm your account email through the link below:</p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>