<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We contact you to notify, that your email is changing to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We contact you to notify you that your email has changed to <%= @resource.email %>.</p>
<% end %>
